<form>
  <h4>String Reverse</h4>
  <h6>Input String</h6>
  <input
    type="text"
    placeholder="string"
    aria-placeholder="string"
    name="string"
    [(ngModel)]="inputString"
  />
  <br />
  <br />

  <button (click)="reverseString()" class="button">Reverse</button>
  <div *ngIf="outputString">
    <h6>Out Put</h6>
    <p>{{ outputString }}</p>
  </div>
</form>
