<form>
  <h4>Array Order</h4>
  <span *ngFor="let array of arrayElement">{{ array + "," }}</span>
  <h6>Please provide number</h6>
  <input
    type="number"
    placeholder="number"
    aria-placeholder="number"
    name="number"
    [(ngModel)]="arrayNumber"
  />
  <br />
  <br />
  <button (click)="addNumber(arrayNumber)" class="button">Add</button>
  <button (click)="orderArrNumber()" class="button">Order</button>
  <div *ngIf="reversedArr && reversedArr.length">
    <h6>Ordered Array</h6>
    <span *ngFor="let arr of reversedArr">{{ arr + "," }}</span>
  </div>
</form>
