<form>
  <h4>Array Missing</h4>
  <span *ngFor="let array of arrayElement">{{ array + "," }}</span>
  <br />
  <h6>Please provide number</h6>
  <input
    type="number"
    placeholder="number"
    aria-placeholder="number"
    name="number"
    [(ngModel)]="arrayNumber"
  />
  <br />
  <br />
  <button (click)="addNumber(arrayNumber)" class="button">Add</button>
  <button (click)="findMissedArrNumber()" class="button">Find</button>
  <br />
  <br />
  <div *ngIf="missingArr && missingArr.length" style=" word-wrap: break-word;">
    <h6>Missed Array</h6>
    <span *ngFor="let arry of missingArr">{{ arry + "," }}</span>
  </div>
</form>
