<toaster-container></toaster-container>

<form>
  <div class="container">
    <div class="row">
      <div class="col-sm-9 col-md-7 col-lg-5 mx-auto">
        <div class="card card-signin my-5">
          <div class="card-body">
            <h5 class="card-title text-center">Sign In</h5>
            <form class="form-signin">
              <div class="form-label-group">
                <input
                  type="email"
                  id="inputEmail"
                  class="form-control"
                  placeholder="Email address"
                  required
                  autofocus
                />
                <label for="inputEmail">Email address</label>
              </div>

              <div class="form-label-group">
                <input
                  type="password"
                  id="inputPassword"
                  class="form-control"
                  placeholder="Password"
                  required
                />
                <label for="inputPassword">Password</label>
              </div>

              <div class="custom-control custom-checkbox mb-3">
                <input
                  type="checkbox"
                  class="custom-control-input"
                  id="customCheck1"
                />
                <label class="custom-control-label" for="customCheck1"
                  >Remember password</label
                >
              </div>
              <button
                class="btn btn-lg btn-primary btn-block text-uppercase"
                type="submit"
              >
                Sign in
              </button>
              <hr class="my-4" />
              <button
                class="btn btn-lg btn-google btn-block text-uppercase"
                type="submit"
              >
                <a href="http://localhost:4001/auth/google">
                  Sign in with Google</a
                >
              </button>
              <button
                class="btn btn-lg btn-facebook btn-block text-uppercase"
                type="submit"
              >
                Sign in with Facebook
              </button>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</form>
