/* You can add global styles to this file, and also import other style files */
.button {
  background-color: blue;
  border: 1px solid blue;
  border-radius: 5px;
  font-weight: bold;
  color: white;
  cursor: pointer;
}

h4,
h6,
h2,
h5 {
  color: dodgerblue !important;
}
