<toaster-container></toaster-container>

<div class="container box" style="margin-top:4rem">
  <div class="row">
    <div class="col-sm-3">
      <ul>
        <li>
          <a
            [routerLink]="[{ outlets: { event: ['arrayOrder'] } }]"
            routerLinkActive="active"
            >Array Order(TYPE==1)
          </a>
        </li>
        <li>
          <a
            [routerLink]="[{ outlets: { event: ['stringReverse'] } }]"
            routerLinkActive="active"
            >String Reverse(TYPE==2)
          </a>
        </li>
        <li>
          <a
            [routerLink]="[{ outlets: { event: ['missingNumber'] } }]"
            routerLinkActive="active"
          >
            Missing Array(TYPE==3)
          </a>
        </li>
      </ul>
    </div>
    <div class="col-sm-9 align">
      <router-outlet name="event"> </router-outlet>
    </div>
  </div>
</div>
